<div class="services-list scrollme">
  <article class="service" ng-repeat="service in vm.services track by $index">
    <div class="service__arrow">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M50 51.8L35.9 37.6l-7.1 7.1L50 65.9l21.2-21.2-7.1-7.1z"/><path d="M50 5C25.2 5 5 25.2 5 50s20.2 45 45 45 45-20.2 45-45S74.8 5 50 5zm0 80c-19.3 0-35-15.7-35-35s15.7-35 35-35 35 15.7 35 35-15.7 35-35 35z"/></svg>
    </div>
    <div class="service__container">
      <div class="service__image animateme" ng-bind-html="service.image"
        data-when="enter"
        data-from="0.5"
        data-to="0"
        data-opacity="0"
        data-translatex="-200"
        data-rotatez="90"></div>
      <div class="service__content">
        <header>
          <h1 class="service__title">{{ $index + 1 }}. {{ "services." + service.slug + ".title" | translate }}</h1>
        </header>
        <p class="service__description">
          {{ "services." + service.slug + ".description" | translate }}
        </p>
      </div>
    </div>
  </article>
</div>
