// logo styles

.logo-container {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:active,
  &:visited {
    outline: 0;
    border: 0;
  }
}

.logo {
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  color: $white;
  text-transform: uppercase;
}

.logo-square {
  display: inline-block;
  width: .7em;
  height: .7em;
  margin: 0 .1em;
  background: $green;
}
