<div class="featured-projects">

  <article ng-repeat="project in vm.projects">
    <div class="featured-project__img" ng-class="{webpage: project.webpageImg}" style="background-color: {{ project.imgBgColor }}; color: {{ project.color }}">
      <div class="container">
        <img ng-src="assets/images/{{ project.slug }}_featured.png" alt="" />
      </div>
    </div>
    <div class="featured-project__desc" style="background-color: {{ project.textBgColor }}; color: {{ project.textColor }}">
      <div class="container">
        <header>
          <h1 ng-bind="project.title"></h1>
        </header>
        <p translate="{{ project.description }}"></p>
        <footer>
          <a href="project/{{ project.slug }}" class="link action-link featured-project__link" translate="projects.seeProject"></a>
        </footer>
      </div>
    </div>
  </article>

</div>
