.home-contact {
  display: flex;
  flex-wrap: wrap;
  background: $soft-grey;

  > article,
  > div {
    width: 50%;
    min-height: 450px;

    @media ($phone) {
      width: 100%;
    }
  }

  article {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    @media ($tablet) {
      padding: 0 2rem;
    }

    @media ($phone) {
      padding: 0 1rem;
    }

    .container {
      max-width: 400px;
    }

    h2 {
      margin: 0;
      line-height: 1;
      font-weight: 900;
      font-size: 2rem;
      text-transform: uppercase;
    }

    footer {
      margin-top: 2rem;
    }
  }
}

.home-contact__infos {
  position: relative;

  > img {
    position: absolute;
    bottom: 0;
    left: -8%;
    max-width: 30%;

    @media ($tablet) {
      display: none;
    }
  }
}

.home-contact__phone {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
  color: inherit;
  text-decoration: none;

  svg,
  span {
    display: block;
  }

  svg {
    width: 2rem;
    margin-right: 1rem;
    opacity: .4;
  }
}

.home-contact__button {
  color: inherit;
  border-color: inherit;
}

.home-contact__map {
  position: relative;
}

.angular-google-map-container {
  height: 600px;

  @media ($tablet) {
    height: 450px;
  }
}

.home-contact__socials {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    width: 60px;
    height: 60px;

    @media ($tablet) {
      width: 48px;
      height: 48px;
    }

    @media ($phone) {
      width: 40px;
      height: 40px;
    }
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px;

    @media ($tablet) {
      padding: 10px;
    }

    @media ($phone) {
      padding: 8px;
    }
  }

  svg {
    max-width: 100%;

    path {
      fill: #fff;
    }
  }
}

.social-icon {

  &.dribbble {
    background-color: #ea4c89;

    &:hover {
      background-color: lighten(#ea4c89, 10%);
    }
  }

  &.behance {
    background-color: #1769ff;

    &:hover {
      background-color: lighten(#1769ff, 10%);
    }
  }

  &.email {
    background-color: #fbbc05;

    &:hover {
      background-color: lighten(#fbbc05, 10%);
    }
  }

  &.google {
    background-color: #dc4e41;

    &:hover {
      background-color: lighten(#dc4e41, 10%);
    }
  }

  &.skype {
    background-color: #00aff0;

    &:hover {
      background-color: lighten(#00aff0, 10%);
    }
  }

  &.facebook {
    background-color: #3b5998;

    &:hover {
      background-color: lighten(#3b5998, 10%);
    }
  }

  &.twitter {
    background-color: #55acee;

    &:hover {
      background-color: lighten(#55acee, 10%);
    }
  }

  &.linkedin {
    background-color: #0077b5;

    &:hover {
      background-color: lighten(#0077b5, 10%);
    }
  }
}
