<div class="home-contact">

  <article class="home-contact__infos">
    <div class="container">
      <header>
        <h2>{{ "home.contact.title" | translate }}</h2>
      </header>
      <p>
        {{ "home.contact.description" | translate }}
      </p>
      <div class="home-contact__phone">
        <img src="assets/images/phone.svg" alt="phone" />
        <span>{{ "home.contact.phone" | translate }}</span>
      </div>
      <footer>
        <a class="typeform-share link action-link home-contact__button" href="https://julienmonty.typeform.com/to/{{ 'typeform.id' | translate }}" data-mode="1" target="_blank">{{ "home.contact.talkToMe" | translate }}</a>
      </footer>
    </div>
  </article>

  <div class="home-contact__map">
    <ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom'>
      <ui-gmap-marker coords="vm.marker.coords" idkey="vm.marker.id"></ui-gmap-marker>
    </ui-gmap-google-map>
    <ul class="home-contact__socials">
      <li ng-repeat="social in vm.socials" style="background-color: {{ social.color }};"><a href="{{ social.link }}" target="_blank"><img ng-src="assets/images/{{ social.name }}.svg" alt="{{ social.name }}" /></a></li>
    </ul>
  </div>

</div>
