.main-footer {
  padding: 2rem 0;
  color: $soft-black;
  background: $black;
  text-align: center;

  h4 {
    margin: 0;
    text-transform: uppercase;
  }

  p {
    margin: 0;
    font-size: .9rem;
  }
}
