<div class="pricing__examples">

  <div class="pricing__switches">
    <div class="switch-toggle switch-candy">
      <input id="cash" name="methods" type="radio" value="cash" ng-model="vm.currentPricing">
      <label for="cash" onclick="">{{ "pricing.methods.cash" | translate }}</label>

      <input id="three" name="methods" type="radio" value="three" ng-model="vm.currentPricing">
      <label for="three" onclick="">{{ "pricing.methods.three" | translate }}</label>

      <input id="monthly" name="methods" type="radio" value="monthly" ng-model="vm.currentPricing">
      <label for="monthly" onclick="">{{ "pricing.methods.monthly" | translate }}</label>

      <a></a>
    </div>

    <div class="switch-toggle switch-candy">
      <input id="with_maintenance" name="maintenance" type="radio" value="true" ng-model="vm.maintenance">
      <label for="with_maintenance" onclick="">{{ "pricing.methods.with_maintenance" | translate }}</label>

      <input id="without_maintenance" name="maintenance" type="radio" value="false" ng-model="vm.maintenance">
      <label for="without_maintenance" onclick="">{{ "pricing.methods.without_maintenance" | translate }}</label>

      <a></a>
    </div>
  </div>

  <div class="pricing__examples__list">

    <article class="pricing" ng-repeat="pricing in vm.pricingList">
      <header>
        <img ng-src="assets/images/projects/{{ pricing.image }}" alt="{{ pricing.title }}" class="pricing__image" />
        <h1>{{ "pricing." + pricing.slug + ".title" | translate }}</h1>
        <h2>{{ "pricing." + pricing.slug + ".subtitle" | translate }}</h2>
        <div ng-if="vm.maintenance == 'true'">+ {{ "pricing.maintenance" | translate }}</div>
      </header>
      <div class="pricing__price">

        <div class="cash" ng-if="vm.currentPricing == 'cash'">
          <span ng-if="vm.maintenance == 'true'">{{ pricing.price.core + pricing.price.maintenance | number:0 }}</span>
          <span ng-if="vm.maintenance == 'false'">{{ pricing.price.core | number:0 }}</span>
          <span class="devise">&euro; *</span>
        </div>

        <div class="three" ng-if="vm.currentPricing == 'three'">
          <span class="factor"> 3 x</span>
          <span ng-if="vm.maintenance == 'true'">{{ (pricing.price.core + pricing.price.maintenance) / 3 | number:0 }}</span>
          <span ng-if="vm.maintenance == 'false'">{{ pricing.price.core / 3 | number:0 }}</span>
          <span class="devise">&euro; *</span>
        </div>

        <div class="monthly" ng-if="vm.currentPricing == 'monthly' && vm.maintenance == 'true'">
          {{ (pricing.price.core + pricing.price.maintenance) / 12 | number:0 }}
          <span class="devise">&euro; *</span>
          <div class="monthly__description">({{ "pricing.monthly.description" | translate }})</div>
        </div>

        <div class="unavailable" ng-if="vm.currentPricing == 'monthly' && vm.maintenance == 'false'">
          <div class="unavailable">{{ "pricing.unavailable" | translate }}</div>
          <div class="unavailable__description">({{ "pricing.unavailable.description" | translate }})</div>
        </div>

      </div>
      <ul class="pricing__features">
        <li ng-repeat="feature in pricing.features">{{ "pricing." + pricing.slug + ".features." + feature | translate }}</li>
        <li ng-if="vm.maintenance == 'true'">{{ "pricing.features.maintenance" | translate }}</li>
      </ul>
      <footer>
        <a href="#" class="pricing__button">{{ "projects.seeProject" | translate }}</a>
      </footer>
    </article>
  </div>



  <div class="pricing__asterisk">
    * {{ "pricing.examples.subtitle" | translate }}
  </div>

  <div class="pricing__contact">
    <a class="typeform-share link action-link" href="https://julienmonty.typeform.com/to/{{ 'typeform.id' | translate }}" data-mode="1" target="_blank">{{ "pricing.contact" | translate }}</a>
  </div>
</div>
