<div class="home-services">
  <article>
    <header>
      <h1 translate="services.title" translate-values="services.title"></h1>
    </header>
    <p>{{ "services.description" | translate }}</p>
    <ul>
      <li ng-repeat="service in vm.services" ng-bind-html="service.image" class="icon_{{ service.slug }}"></li>
    </ul>
    <footer>
      <a ui-sref="services" class="link action-link home-services__link">{{ "views.learnMore" | translate }}</a>
    </footer>
  </article>
  <div class="bg-overlay medium"></div>
</div>
